body, h1, h2, p, ul, li {
    margin:0;
    padding 0;
}

body {
    font-family: Arial;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #008080;
    padding: 20px 0;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.h-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
}

.logo h1 {
    font-size: 24px;
    margin-left 10px;
}

.nav ul {
    list-style: none;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: white;
}


.features {
    background-color: #53B0AE;
    text-align: centre;
    padding: 0 20px;
    justify-content: space-between;
}

.feature {
    display: inline-block;
    max-width: 300px;
    text- align: left;
}

.feature img {
    max-width: 100%;
    height: 180px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


.contact {
  padding: 80px 0;
  background-color: #00BBBB;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact h2 {
    text-align: center;
    margin-bottom: 10px;
}

.c-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.c-form {
    flex: 1;
    max-width: 400px;
}

.c-form h3 {
  margin-bottom: 20px;
}

.c-form input,
.c-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.c-form textarea {
  resize: vertical;
  min-height: 60px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
    background: #0a66c2;
    color: white;
}

.fa-envelope {
    background: #0489c9;
    color: white;
}

.fa-whatsapp {
    background: #075e54;
    color: white;
}

.fa-github {
    background: black;
    color: white;
}

.fa:hover {
  opacity: 0.7;
}