<!DOCTYPE html>
<html>
<head>
    <title>DevConnect</title>
    <link rel="stylesheet" href="">
    <link rel="icon" href="">
</head>

<header class="header">
    <div class="container">
        <div class="h-content">
            <div class="logo">
                <img src="" alt="Logo">
                <h1>DevConnect</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#intro">About</a></li>
                    <li><a href="features">Features</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Log In</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>


</html>