<!DOCTYPE html>
<html>
<head>
    <title>DevConnect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='landing.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="">
</head>

<header class="header">
    <div class="container">
        <div class="h-content">
            <div class="logo">
                <img src="{{url_for('static', filename='images/logo.jpg') }}" alt="Logo">
                <h1>DevConnect</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#intro">About</a></li>
                    <li><a href="#features">Features</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="{{ url_for('signup') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<body>
    <section id="features" class="features">
        <h2>Why DevConnect?</h2>
        <div class="feature">
            <img src="{{url_for('static', filename='images/friendlines.webp') }}" alt="Beginner Friendly">
            <h2>Beginner Friendly</h2>
            <p>
                With the help of our beginner-friendly features,
                open the door to effortless learning.
                Explore a world of opportunities with easily navigable tools and materials
                that have been carefully designed to assist your learning process right away.
                You can confidently explore our platform,
                which has easily accessible features meant to inspire and empower users.
                Come along with us as we set out on a life-changing,
                limitless learning experience.
            </p>
        </div>
        <div class="feature">
            <img src="{{url_for('static', filename='images/communication.jpg') }}" alt="Smooth Communication">
            <h2>Smooth Communication</h2>
            <p>
                Our platform facilitates seamless and efficient exchanges
                between parties regardless of their geographical location,
                as communication is not limited.
                With the help of our communication tools, which range from
                video conferencing to instant messaging, teams can easily
                connect and promote alignment and clarity.
                Discover how effective communication can move your projects
                forward with accuracy and coherence.
            </p>
        </div>
        <div class="feature">
            <img src="{{url_for('static', filename='images/Centralized.jpeg') }}" alt="Centralization">
            <h2>Centralized task management</h2>
            <p>
                With our centralized task management solution,
                you can efficiently optimize your workflow
                and make sure that every project is well-organized
                and optimized for success.
                Easily stay on top of due dates and advancement,
                enabling your team to complete more work in less time
                as you harness the power of centralized task management.
            </p>
        </div>
        <div class="feature">
            <img src="{{url_for('static', filename='images/collaboration.jpeg') }}" alt="Seamless collaboration">
            <h2>Seamless Collaboration</h2>
            <p>
                Break down geographical barriers and foster seamless collaboration
                among your team members with our intuitive platform.
                Our tools enable real-time collaboration for brainstorming sessions
                and project updates, keeping everyone informed and involved.
                With seamless collaboration, you can take teamwork to new heights
                and realize the full potential of your projects.
            </p>
        </div>
    </section>
    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <div class="c-content">
                <div class="c-form">
                    <h3>Inquiries? Send us a message</h3>
                    <form action="https://formspree.io/f/xwkgladq" method="POST">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <input type="text" name="subject" placeholder="Subject" required>
                        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="links">
                    <h3>Helpful Links</h3>
                    <ul>
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="#about">About us</a></li>
                        <li><a href="#features">Services</a></li>
                        <li><a href="{{ url_for('signup') }}">Register</a></li>
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                </ul>
                </div>
                <div class="c-details">
                    <h3>Contact Information</h3>
                    <a href="mailto:sscarlette84@gmail.com" class="fa fa-envelope"></a>
                    <a href="https://www.linkedin.com/in/ivy-chelsea-529875260/" class="fa fa-linkedin"></a>
                    <a href="" class="fa fa-twitter"></a>
                    <a href="https://wa.link/bam36i" class="fa fa-whatsapp"></a>
                    <a href="https://github.com/Ivy-Chelsea" class="fa fa-github"></a>
                </div>
            </div>
        </div>
    </section>
</body>


</html>