<!DOCTYPE html>
<html>
<head>
    <title>DevConnect</title>
    <link rel="stylesheet" href="">
    <link rel="icon" href="">
</head>

<header class="header">
    <div class="container">
        <div class="h-content">
            <div class="logo">
                <img src="" alt="Logo">
                <h1>DevConnect</h1>
            </div>
            <nav class="nav">
                <ul>
                    <li><a href="#intro">About</a></li>
                    <li><a href="features">Features</a></li>
                    <li><a href="contact">Contact Us</a></li>
                    <li><a href="register">Register</a></li>
                    <li><a href="login">Log In</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<body>
    <section id="features" class="features">
        <h2>Why DevConnect?</h2>
        <div class="feature">
            <img src="{{url_for('static', filename='images/friendliness.webp') }}" alt="Beginner Friendly">
            <h2>Beginner Friendly</h2>
        </div>
        <div class="feature">
            <img src="{{url_for('static', filename='images/Centralized.jpeg') }}" alt="Centralization">
            <h2>Centralized task management</h2>
        </div>

    </section>
    <section id="contact" class="contact">
        <div class="container">
            <h2>Contact Us</h2>
            <div class="c-content">
                <div class="c-form">
                    <h3>Inquiries? Send us a message</h3>
                    <form action="" method="POST">
                        <input type="text" name="name" placeholder="Your Name" required>
                        <input type="email" name="email" placeholder="Your Email" required>
                        <input type="text" name="subject" placeholder="Subject" required>
                        <textarea name="message" placeholder="Your Message" rows="5" required></textarea>
                        <button type="submit">Submit</button>
                    </form>
                </div>
                <div class="contact-details">
                    <h3>Contact Information</h3>
                    <p>Email: <a href="mailto:">info@DevConnect.com</a></p>
                    <p>LinkedIn: <a href="">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </section>
</body>


</html>