{% extends 'home.html' %}
{% block content %}
<style>
    .wrapper {
      max-width: 75%;
      margin-top: 200px;
      margin-left: 300px;
    }
    .main {
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin: 10px 0;
    }
   .accordion i {
      font-size: 1.6rem;
   }
   .active,
   .accordion:hover {
     background-color: #f1f7f5;
   }
</style>
<div class="wrapper">
    <div class="main">
        <button class="accordion">
            Getting started with GitHub
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <div class="panel">
            <a href="https://www.youtube.com/watch?v=iv8rSLsi1xo&pp=ygUbZ2V0dGluZyBzdGFydGVkIHdpdGggZ2l0aHVi">Github Tutorial</a>
        </div>
    </div>
</div>
{% endblock content%}